__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/

.env
*.db

.venv/
venv/
env/

.idea/
.vscode/
*.swp
*.swo
.DS_Store

*.log

# Media uploads & storage
uploads/
storage/

# Flutter
frontend/.dart_tool/
frontend/.packages
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/pubspec.lock
frontend/.metadata
frontend/android/.gradle/
frontend/ios/Pods/
frontend/ios/.symlinks/
frontend/windows/flutter/
frontend/linux/flutter/
frontend/macos/Flutter/
